bs4
openai
chromadb
tiktoken
langchain
langchain_openai
langchain_chroma
langchain_community
langchain_core
langchain_text_splitters 
streamlit
streamlit-chat
streamlit-modal
psycopg2-binary
python-dotenv
